@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@source '../../../../vendor/andreia/filament-ui-switcher';
@source '../../../../vendor/awcodes/light-switch/resources/**/*.blade.php';
@source '../../../../vendor/jeffgreco13/filament-breezy/resources/**/*';

/* ui-switcher */
input[type="range"].ui-switcher-slider::-webkit-slider-thumb,
.dark input[type="range"].ui-switcher-slider::-webkit-slider-thumb {
    background: var(--ui-switcher-primary) !important;
    border-color: rgb(255, 255, 255, 0.8) !important;
}

input[type="range"].ui-switcher-slider::-moz-range-thumb,
.dark input[type="range"].ui-switcher-slider::-moz-range-thumb {
    background: var(--ui-switcher-primary) !important;
    border-color: rgb(255, 255, 255, 0.8) !important;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.5); /* gray 0.5 */
    border-radius: 10px;
}

/* optional: hover sedikit lebih jelas */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 0.7);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.5) transparent;
}
