@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@source '../../../../vendor/andreia/filament-ui-switcher';
@source '../../../../vendor/awcodes/light-switch/resources/**/*.blade.php';
@source '../../../../vendor/jeffgreco13/filament-breezy/resources/**/*';

/* ui-switcher */
input[type="range"].ui-switcher-slider::-webkit-slider-thumb,
.dark input[type="range"].ui-switcher-slider::-webkit-slider-thumb {
    background: var(--ui-switcher-primary) !important;
    border-color: rgb(255, 255, 255, 0.8) !important;
}

input[type="range"].ui-switcher-slider::-moz-range-thumb,
.dark input[type="range"].ui-switcher-slider::-moz-range-thumb {
    background: var(--ui-switcher-primary) !important;
    border-color: rgb(255, 255, 255, 0.8) !important;
}
